<body class="hbody">
	<h1>Dallin Johnson</h1>

	<%= image_tag("profile_pic.jpg", :alt => "Profile pic of me", :class=> "profile_img") %>

	<h2>Welcome, to my homepage for my website clones</h2>
	<p>These are not actual sites so they are not functional. They are just clones of real sites. I created them to showcase my ability with Website design. If you are interested in seeing more of my work visit <a href="https://github.com/dallinbjohnson" target="_blank">Dallin Johnson's</a> Github profile.</p>
</body>
