/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require spree/backend
 *= require_self
 *= require_tree .
*/


.navbar-brand {
	// color: #62c9f3;
	color: #0275d8;
  font-family: 'Dancing Script', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: lowercase;
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}