<nav class="nav">
	<ul>
		<li><a href="/"><i class="fa fa-home"></i></a></li>
		<li><a href="google">Google</a></li>
		<li><a href="pin">Pinterest</a></li>
		<li><a href="tesla">Tesla</a></li>
		<li><a href="email">Email</a></li>
	</ul>
</nav>