<!DOCTYPE html>
<html>
<head>
	<title>Pinterest Clone</title>

	<link rel="stylesheet" type="text/css" href="pin.css">
	<script src="https://use.fontawesome.com/869d76f568.js"></script>

</head>
<body>

<header>
	
	<ul>
		<li><a href="#"><img src="pin_img/Pinterest-logo.png" alt="Pinterest Logo" class="logo"></a></li>
		<li><input type="text" name="search" placeholder="Search" class="search"></li>
		<li class="icon"><a href="#"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
		<li class="icon"><a href="#"><i class="fa fa-user" aria-hidden="true" ></i></a></li>
		<li class="icon"><a href="#"><i class="fa fa-bars" aria-hidden="true" ></i></a></li>
	</ul>

</header>

<content>
	
	<div class="colume">

		<div class="post">
			<img src="pin_img/IMG_0009.jpg">
			<hr />
			<p>"The best preparation for tomorrow is doing your best today." <br><br> - H. Jackson Brown, Jr.</p>
		</div>

		<div class="post">
			<img src="pin_img/IMG_0017.JPG">
			<hr />
			<p>"I am not the same, having seen the moon shine on the other side of the world." <br><br> - Mary Anne Radmacher</p>
		</div>

		<div class="post">
			<img src="pin_img/P2080602.JPG">
			<hr />
			<p>"The fishermen know that the sea is dangerous and the storm terrible, but they have never found these dangers sufficient reason for remaining ashore." <br><br> - Vincent Van Gogh</p>
		</div>

	</div>

	<div class="colume">

		<div class="post">
			<img src="pin_img/P4070804.JPG">
			<hr />
			<p>A bird doesn't sing because it has an answer, it sings because it has a song. <br><br> - Maya Angelou</p>
		</div>

		<div class="post">
			<img src="pin_img/P6130611.JPG">
			<hr />
			<p>My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style. <br><br> - Maya Angelou</p>
		</div>

		<div class="post">
			<img src="pin_img/P6130616.JPG">
			<hr />
			<p>I can't change the direction of the wind, but I can adjust my sails to always reach my destination. <br><br> - Jimmy Dean</p>
		</div>

	</div>

	<div class="colume">

		<div class="post">
			<img src="pin_img/P6160674.JPG">
			<hr />
			<p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. <br><br> - Steve Jobs</p>
		</div>

		<div class="post">
			<img src="pin_img/P6170673.JPG">
			<hr />
			<p>Put your heart, mind, and soul into even your smallest acts. This is the secret of success. <br><br> - Swami Sivananda</p>
		</div>

		<div class="post">
			<img src="pin_img/P6170677.JPG">
			<hr />
			<p>Happiness is not something you postpone for the future; it is something you design for the present. <br><br> - Jim Rohn</p>
		</div>

	</div>

	<div class="colume">

		<div class="post">
			<img src="pin_img/P8240034.JPG">
			<hr />
			<p>The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart. <br><br> - Helen Keller</p>
		</div>

		<div class="post">
			<img src="pin_img/P8240035.JPG">
			<hr />
			<p>Health is the greatest gift, contentment the greatest wealth, faithfulness the best relationship. <br><br> - Buddha</p>
		</div>

		<div class="post">
			<img src="pin_img/P9300102.JPG">
			<hr />
			<p>Keep your face always toward the sunshine - and shadows will fall behind you. <br><br> - Walt Whitman</p>
		</div>

	</div>

</content>

</body>
</html>